@import url('https://fonts.googleapis.com/css?family=Mitr:500&display=swap');

@import './start-page.scss';
@import './board.scss';
@import './player.scss';
@import './final-board.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(246, 245, 255);
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
}
#root {
    background-image: linear-gradient(135deg, rgb(95, 0, 63) 30%, rgb(0, 0, 0));
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.15rem;
    text-align: center;
    text-shadow:
        3px 1px 1px black,
        -1px 1px 1px black;
        
}

// BUTTONS
.btn {
    background-color: rgba(255, 255, 255, 0.016);
    box-shadow:
        1px 1px 1px rgba(0, 0, 0, 0.76),
        -1px 1px 1px rgba(0, 0, 0, 0.76);
}
.btn-outline-info {
    $manage-btn-color: rgb(97, 87, 185);
    color: $manage-btn-color;
    border-color: $manage-btn-color;
    &:hover {
        background-color: $manage-btn-color;
        border-color: $manage-btn-color;
    }
    &:focus {
        box-shadow: red;
    }
}
// rgb(192, 0, 106)
.easy {
    $easy-btn-color: rgb(80, 165, 0);
    color: $easy-btn-color;
    border-color: $easy-btn-color;
    &:hover {
        background-color: $easy-btn-color;
        border-color: $easy-btn-color;
    }
}
.medium {
    $medium-btn-color: rgb(226, 109, 0);
    color: $medium-btn-color;
    border-color: $medium-btn-color;
    &:hover {
        background-color: $medium-btn-color;
        border-color: $medium-btn-color;
    }
}
.hard {
    $hard-btn-color: rgb(212, 0, 46);
    color: $hard-btn-color;
    border-color: $hard-btn-color;
    &:hover {
        background-color: $hard-btn-color;
        border-color: $hard-btn-color;
    }
}
// BUTTONS-END

@media (min-width: 190px) {
    #root {
        font-size: 20px;
    }
    h1 {
        font-size: 2.6rem;
    }
}
@media (min-width: 457px) {
    h1 {
        font-size: 3rem;
    }
}
@media (min-width: 808px) {
    h1 {
        font-size: 3.2rem;
    }
}
@media (min-width: 1025px) {
    * {
        font-size: 18px;
    }
}